header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid darkblue;
}

li {
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}

h1{
    font-size: 45px;
}

a{
    text-decoration: none;
}